<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="OVManagementDB" connectionString="Data Source=statfy-db.cfjc8ftwthbw.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=statfy_db; user=statfy_dbuser1; password=statfy_dev01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
